<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hfad.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoactivity"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoactivity"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design"
        tools:targetApi="31">
        <activity android:name=".settings.SView" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.spl" />
        <activity android:name=".TextContentActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".settings.tabb" />
        <activity android:name=".settings.Application1" />
        <activity android:name=".settings.table_chapter20" />
        <activity android:name=".settings.SpashScreen"/>

    </application>

</manifest>